# .NET
bin/
obj/
*.user
*.suo
*.cache
*.vs/
*.DotSettings.user

# NuGet
*.nupkg
packages/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
.venv/
venv/

# Datasets
datasets/
*.data

# IDE
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini
.DS_Store
